* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

.h2User {
    margin-top: 3vh;
    text-align: center;
}

.aUser {
    text-align: center;
    color: black;
}