.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 0;
}
.italic-text {
    color: white;
    font-style: italic;
}

body {
    margin: 0;
}
.header-button-container {
    margin-right: 70px;
}

.header-logo {
    color: rgb(255, 87, 87);
    font-family: IBM Plex Mono;
    font-size: 36px;
    margin-left: 70px;
    text-decoration: none;
}

.header-button {
    margin-left: 15px;
    padding: 6px 30px 6px 30px;
    text-decoration: none;

    color: white;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 500;

    background-color: transparent;
    border: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 15px;
    cursor: pointer;
}

.header-button a {
    text-decoration: none;
    color: white;
}

.header-button:hover {
    background-color: white;
    color: black;
    transition: 0.55s;
}

.header-button:active {
    background-color: rgb(154, 154, 154);
    transition: 0.1s;
}