body {
    background-color: rgb(246, 246, 246);
}

.main {
    width: 70vw;
    background-color: white;
    margin: auto;
    padding: 20px;
}

.main h2 {
    text-transform: uppercase;
}

.names {
    border: solid;
    border-color: rgb(216, 216, 216);
    border-width: 1px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-bottom: 5px;

    display: flex;
    justify-content: space-between;
}

.names button {
    margin-right: 0.5vw;
    padding: 6px 15px;
    border-radius: 15px;
    border: none;
    color: white;
    background-color: rgb(63, 96, 240);
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
}

.names button:hover {
    background-color: rgb(43, 72, 200);
}

.names button:active {
    padding: 6px 20px;
    background-color: rgb(22, 36, 99);
}

table {
    width: 100%;
    margin-top: 5px;
}

table td, th {
    text-align: center;
}

td, th {
    padding: 5px;
}

tr:nth-child(even) {
    background: rgb(255, 255, 255);
}

tr:nth-child(odd) {
    background: rgb(242, 242, 242);
}